## LOOPS 
## for

for dongusunun yapisi <br>

for i in iterable:
    body 

for dongusu iterable larla calisir. for dongusu ile iterable tum elemanlarina tek tek ulasabilirsiniz.<br>

In [2]:
for i in "techpro":  # iterable eleman techpro  tum elemanlara ulasir 
    print(i)

t
e
c
h
p
r
o

In [3]:
for i in "Fenerbahce":
    print(i)

F
e
n
e
r
b
a
h
c
e

In [4]:
 # listede elemanlarin karesini alalim 
 
for i in [1,2,3,4,5]:
    print(i ** 2)

1
4
9
16
25

In [5]:
#listedeki elemanlarin kucuk harfle yazilmis.
# Listede gecen isimlerin ilk harflerinin buyuk harfle yazilmasini  istiyoruz 


for i in ["ahmet","nazim","ali","omer"]:
    print(i.capitalize())

Ahmet
Nazim
Ali
Omer

In [7]:
# listedeki isimleri yanyana yazdiralim 
for i in ["ahmet","nazim","ali","omer"]:
    print(i.capitalize(),end="** ")

Ahmet** Nazim** Ali** Omer**

In [6]:
# listedeki isimlerin tumunu buyuk harfle yazdiralim 
for i in ["ahmet","nazim","ali","omer"]:
    print(i.upper())

AHMET
NAZIM
ALI
OMER

Soru : <br>
#"Techpro"  string ifadesinde tum karakter arasina "-" koymak istiyorum
yani su sekilde yazilsin  "T-e-c-h-p-r-o"

In [9]:
emty_str = ""
for i in "Techpro":
    emty_str += i + "-"
emty_str .strip("-")

'T-e-c-h-p-r-o'

In [12]:
# join  fonk. ile de yapilabilir. 
"-".join("techpro")

't-e-c-h-p-r-o'

soru: <br>
"Techpro Education" ifadesinde her elemanin icerisine "**" koyarak yaziniz

In [13]:
"**".join("Techpro Education")

'T**e**c**h**p**r**o** **E**d**u**c**a**t**i**o**n'

## for dongusunun dict. ile kullanilmasi

In [3]:
dict_1 ={"name": "Yusuf","surname":"Ahmet", "age":26}
dict_1

{'name': 'Yusuf', 'surname': 'Ahmet', 'age': 26}

In [4]:
for i in dict_1:
    print(i)

name
surname
age

In [18]:
for i in dict_1.values():
    print(i)

Yusuf
Ahmet
26

In [19]:
# key ayri value ayri nasil ulasacagiz

dict_1.items()

dict_items([('name', 'Yusuf'), ('surname', 'Ahmet'), ('age', 26)])

In [20]:
for i in dict_1.items():
    print(i)

('name', 'Yusuf')
('surname', 'Ahmet')
('age', 26)

In [23]:
for i , j in dict_1.items():
    print(f"key:{i}, value:{j}")

key:name, value:Yusuf
key:surname, value:Ahmet
key:age, value:26

In [25]:
# f string  yazimi ile farkli bir yaklasim

for i, j in dict_1.items():
    print(f"key:{i:>10}, value:{j}") # (i:<10)i yi 10 karakter yazdir ve sola yasla

key:      name, value:Yusuf
key:   surname, value:Ahmet
key:       age, value:26

In [26]:
for i, j in dict_1.items():
    print(f"key:{i:^10}, value:{j}")  # ortaladi

key:   name   , value:Yusuf
key: surname  , value:Ahmet
key:   age    , value:26

In [30]:
for i, j,k in  [("ali", "data_scientist",26),("veli","python_developer",28)]: # tuple
    print(f"i:{i},j:{j},k:{k}")
    
    # yani for dongusunde tek bir degisken alacagiz diye bir kural yok 
    # bir,iki,uc degisken alabildik yeter ki formatimiz uysun.

i:ali,j:data_scientist,k:26
i:veli,j:python_developer,k:28

 for dongusunu sonsuz dongu nasil yapabiliriz

In [ ]:
## calistirma sonsuz dongu calisir 
liste_1 = ["sonsuz dongu"]

for i in liste_1:
    print(i)
    liste_1.append(i)

soru : 50 tane alt alta bir metin yazdiralim

In [31]:
# range fonk.kullaniriz
for i in range(1,51): # neden 51 yazdik cunku 50 tane dedik 
    print(f"{i}- Techpro")

1- Techpro
2- Techpro
3- Techpro
4- Techpro
5- Techpro
6- Techpro
7- Techpro
8- Techpro
9- Techpro
10- Techpro
11- Techpro
12- Techpro
13- Techpro
14- Techpro
15- Techpro
16- Techpro
17- Techpro
18- Techpro
19- Techpro
20- Techpro
21- Techpro
22- Techpro
23- Techpro
24- Techpro
25- Techpro
26- Techpro
27- Techpro
28- Techpro
29- Techpro
30- Techpro
31- Techpro
32- Techpro
33- Techpro
34- Techpro
35- Techpro
36- Techpro
37- Techpro
38- Techpro
39- Techpro
40- Techpro
41- Techpro
42- Techpro
43- Techpro
44- Techpro
45- Techpro
46- Techpro
47- Techpro
48- Techpro
49- Techpro
50- Techpro

## carpim tablosu  yapma

In [38]:
# kullanicidan bir sayi isteyecegiz
number  = int(input("1 ile 9 arasinda sayi giriniz"))

if 1 <= 9:
    for i in range(1,11):
        print(f"{number} x {i:<2} = {number * i}")
else:
    print("1 ile 9 arasinda bir sayi girmediniz")

6 x 1  = 6
6 x 2  = 12
6 x 3  = 18
6 x 4  = 24
6 x 5  = 30
6 x 6  = 36
6 x 7  = 42
6 x 8  = 48
6 x 9  = 54
6 x 10 = 60

sayi 1 ile 9 arasinda gelise nasil yapabiliriz

In [ ]:
# calistirma.berak for dongusunu durdurur ,while sonsuza devam eder. 
while True: 
     
    number  = int(input("1 ile 9 arasinda sayi giriniz"))

    if 1 <= 9:
       for i in range(1,11):
           print(f"{number} x {i:<2} = {number * i}")
           break
    
    else:
        print("1 ile 9 arasinda bir sayi girmediniz")

soru : 1 den 50 ye kadar olan sayilarin toplamini bulan python programini  yaziniz

In [41]:
sum(range(1,51))

1275

In [5]:
total = 0 
for i in range(1,51):
    total += i
print(total )

1275

In [6]:
(n *(n +1)/ 2)

NameError: name 'n' is not defined

In [7]:
(50 * (50 + 1))/2

1275.0

In [8]:
sum([1,2,3,4,5])

15

In [9]:
sum([1,2,3,4,5],100) # 100 un uzerindekileri topla

115

soru : 1 ile 50 arasindaki cift sayilarin toplamini python koduyla yaziniz

In [10]:
sum(range(2,51,2)) # cift sayilarin toplami

650

In [11]:
sum(range(1,51,2)) # tek sayilarin toplami

625

In [12]:
ciftler_toplami = 0 
for i in range(1,51):
    if i  % 2 == 0:
        ciftler_toplami += i
    print(ciftler_toplami)

0
2
2
6
6
12
12
20
20
30
30
42
42
56
56
72
72
90
90
110
110
132
132
156
156
182
182
210
210
240
240
272
272
306
306
342
342
380
380
420
420
462
462
506
506
552
552
600
600
650