# Type Conversion (Tur Donusumu)
*Python'da sayılar, diziler, eşlemeler vb. gibi farklı veri türleri vardır.
Bir tür mevcut veriye sahip olduğunuz ancak onu başka bir biçimde kullanmak istediğiniz bir durum olabilir.
Örneğin, kullanıcı bir dize girdi ama siz onu sayı olarak kullanmak istiyorsunuz. Python'un tip değiştirme mekanizması bunu yapmanıza izin verir.

*int(),  float(),  ve complex() yöntemlerini kullanarak bir türden diğerine dönüştürebilirsiniz

# all types to str

In [3]:
"Techpro education"

'Techpro education'

In [4]:
age = 32
type(age)

int

In [5]:
age= str(age)
type(age)

str

int

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex 

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [10]:
pi_number = 3.14
type(pi_number)

float

In [11]:
str(pi_number)

'3.14'

In [12]:
pi_number =str(pi_number)
type(pi_number)

str

In [13]:
x = False
y =True
type(x)
type(y)

bool

In [15]:
str(x)
type(x)

bool

In [16]:
x =str(x)
type(x)

str

# str to int -->string integer a cevirme

In [7]:
age_1="32" # string bir ifade

In [8]:
int(age_1)

32

In [9]:
type(age_1)

str

In [10]:
age_1 =int(age_1)
type(age_1)

int

In [11]:
int("32a")  #  hata verir.

ValueError: invalid literal for int() with base 10: '32a'

## str to float --->string bir datanin floata cevrilmesi

In [12]:
pi_number_1 = "3.14"
type(pi_number_1)

str

In [13]:
float(pi_number_1)

3.14

In [27]:
pi_num = float(pi_number_1)
type(pi_num)

float

# int to float ---> integer floata cevrilmesi
# float to int ---> float in integer cevrilmesi

In [14]:
age_2 = 35

In [15]:
float(age_2)

35.0

In [16]:
float(0)

0.0

In [17]:
float_sayi = 5.8

In [32]:
int(float_sayi)

5

In [33]:
int(5.9999)

5

# bool to int   -----> boolean integer a cevirme
# bool to float -----> boolean float a cevirme

In [36]:
x

'False'

In [37]:
y

True

In [38]:
type(x)

str

In [39]:
type(y)

bool

In [40]:
bool(x)

True

In [41]:
z =True
w =False

In [42]:
int(z)

1

In [43]:
int(w)

0

In [44]:
float(z)

1.0

In [45]:
float(w)

0.0

soru : Kullanicidan akinan iki tam sayinin toplamini ekrana yaziniz.

In [18]:
sayi_1 =input("sayi 1 :")
sayi_2 = input("sayi 2:")
toplam = int(sayi_1) + int(sayi_2)
print("sonuc :",toplam)

sonuc : 9