## lambda()

In [3]:
def kareler_toplami (x,y):
    return x ** 2 + y ** 2

In [4]:
kareler_toplami(3,4)

25

In [5]:
lambda x, y: x** 2 + y ** 2

In [8]:
(lambda x,y : x**2 + y ** 2) (3,4)

25

In [10]:
(lambda x: len(x)== 5)("sedat")

True

In [11]:
list(filter(lambda x:len(x)==5,["sedat","techprp", "ali","huma","nazim","ersin"]))

['sedat', 'nazim', 'ersin']

In [29]:
isimler_listesi = ["ece", "sedat", "inci", "ey edip adanada pide ye", "nazan"]
isimler_listesi

['ece', 'sedat', 'inci', 'ey edip adanada pide ye', 'nazan']

In [21]:
(lambda x : x[::-1])("ekrem")  # lambda ile tersten yazdirma

'merke'

In [30]:
(lambda x: x[::-1](["sedat","techprp", "ali","huma","nazim","ersin"]))

soru : listede yer alan elemanlarin palidrom ifadeleri bulan fonk.yaziniz<br>

["ece","sedat","inci","ey edip adanada pide ye", "nazan]

In [31]:
list(filter(lambda x: x[::-1] == x, isimler_listesi))

['ece', 'ey edip adanada pide ye', 'nazan']

In [32]:
import pandas as pd

In [34]:
df =pd.read_csv("adult_eda.csv")

In [35]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [37]:
df.sex.apply(lambda x: 0 if x =="Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

soru:  
sayilar_listesi =[4,56,84,25,35,14,7,8,24,15] <br>
Lambda fonksiyonunu kullanarak liste icindeki tek sayilari bulunuz.

In [38]:
sayilar_listesi =[4,56,84,25,35,14,7,8,24,15]
sayilar_listesi

[4, 56, 84, 25, 35, 14, 7, 8, 24, 15]

In [39]:
(lambda x: x%2)(23)

1

In [40]:
list(filter(lambda x: x%2, sayilar_listesi))

[25, 35, 7, 15]

soru : hipotenus bilgisini lambda ile yaziniz

In [41]:
(lambda x,y : (x**2 + y ** 2) ** 0.5 ) (3,4)

5.0

In [42]:
hipotenus = lambda x,y : (x**2 + y ** 2) ** 0.5

In [43]:
hipotenus(5,12)

13.0