##  Nested Dictionaries
    (Ic ice Dictionary)

listelerden,dict key olusturamayiz.<br>
Tuple key olusturabiliriz.<br>
Dict. value kisminda kullanabiliriz.<br>
Value kisminda  yeniden dict. kullanmamiz gereken durumlar ortaya cikabilir.<br>
Bu noktada icice dict. yardimimiza gelir.

In [1]:
myfamily = {"child1": {"name":"Emily","year":2004},
            "child2": {"name":"Tobias", "year":2007},
            "child3":{"name":"Linus", "yaer":2011}}

In [2]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [3]:
myfamily.values()

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'yaer': 2011}])

In [4]:
myfamily["child1"]

{'name': 'Emily', 'year': 2004}

In [5]:
myfamily["child1"].keys()

dict_keys(['name', 'year'])

In [6]:
myfamily["child1"].values()

dict_values(['Emily', 2004])

In [7]:
myfamily

{'child1': {'name': 'Emily', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'yaer': 2011}}

In [16]:
elementary_class ={"student1": {"name":"Demet","school_nu":11, "phone_nu":123},
                   "student2": {"name": "Ahmet","school_nu":12, "phone_nu":124},
                   "student3": {"name": "Sami", "school_nu":12,"phone_nu":125}
                               }

In [17]:
elementary_class

{'student1': {'name': 'Demet', 'school_nu': 11, 'phone_nu': 123},
 'student2': {'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124},
 'student3': {'name': 'Sami', 'school_nu': 12, 'phone_nu': 125}}

In [18]:
elementary_class.get("student2")

{'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124}

In [19]:
elementary_class.get("student2").get("school_nu")

12

In [20]:
elementary_class.get("student3").get("phone_nu")

125

## In ve not in

Bir eleman baska bir elemanin icersinde var mi yok mu

In [21]:
"e" in "hello" # e harfi hello kelimesinin icinde var mi? True ya da False dondurur

True

In [22]:
"a" in "hello"

False

In [23]:
"llo"in "hello"

True

In [24]:
"eo"in "hello"

False

In [25]:
"hp" in  "Techpro"

True

In [26]:
"e" not in "hello"  # e hello kelimesinin icersinde yoksa

False

In [27]:
1 in [1,2,3,4,5]

True

In [28]:
2 in (1,3,5,7,9,11)

False

In [29]:
elementary_class

{'student1': {'name': 'Demet', 'school_nu': 11, 'phone_nu': 123},
 'student2': {'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124},
 'student3': {'name': 'Sami', 'school_nu': 12, 'phone_nu': 125}}

In [30]:
"student1" in elementary_class

True

In [31]:
"name" in elementary_class  # sadece keylerde arar

False

In [32]:
elementary_class["student1"]

{'name': 'Demet', 'school_nu': 11, 'phone_nu': 123}

In [34]:
"name" in elementary_class["student1"]

True

In [40]:
aa= {"key1": "value1", "key2": 25}
aa

{'key1': 'value1', 'key2': 25}

In [41]:
"key1" in aa

True

In [42]:
"value1" in aa

False

In [43]:
"value1" in aa.values()

True

In [47]:
123  in elementary_class

False

In [48]:
123 in elementary_class.get("student1").values()

True